 <link rel="stylesheet"  href="/css/Person.css">
<nav>
  <div class="container__fluid padding" id="container__fluid">	
      <div class="row text-center padding">
        <div class="col-md-6">	
          <img src="/image/person.png" class="img-fluid">
        </div>
     
      <div class="col-md-6">
          <h1 class="container__title">Personal Information</h1>
          <br>
          <p class="container__text">A place that helps you easily manage your own personal information, your medical conditions will also be recorded here, your doctor will easily refer to your condition through this record.</p>
        </div>
      </div>
    </div>
</nav>



     {{> messages }}
    {{#each user}}
  <div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
			
				<div class="profile-sidebar__profile-userpic">
					<img src="/image/Userpic/profile_user{{this.dd}}.png" class="img-responsive" alt="Thông tin cá nhân">
				</div>				
			
				<div class="profile-sidebar__profile-usertitle">
					<div class="profile-sidebar__profile-usertitle--name">
						{{this.name}} 
					</div>
				</div>				
				
				<div class="profile-sidebar__profile-userbuttons">
					<a href="#popup__logout" onclick="logout()" type="button" class="btn btn-danger btn-sm">Log out</a>
				</div>				
			
				<div class="profile-sidebar__profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="/Users/InfoPerson">
							<i class="glyphicon glyphicon-info-sign"></i>
							Update Personal Information </a>
						</li>
					
					</ul>
				</div>
				
			</div>
		</div>
    
		<div class="col-md-9">
      <div>
 
        <table class="table table-striped">
            <tbody><tr>
                <td class="first-colmn">Full name</td>
                <td>{{this.name}}</td>
            </tr>
         
            <tr>
                <td class="first-colmn">Email</td>
                
                   <td>{{ this.email }}</td> 
                
            </tr>
           
            <tr>
                <td class="first-colmn">General</td>
               <td>{{ this.gender }}</td>
            </tr>
            <tr>
                <td class="first-colmn">Date of birth</td>
                <td>{{this.yyyy}}/{{this.mm}}/{{this.dd}}</td>
            </tr>
         
            <tr>
                <td class="first-colmn">PhoneNumber</td>
                <td>{{this.phone}}</td>
            </tr>

            <tr>
                <td class="first-colmn">About</td>
                <td>
                  {{this.inputBackgroundisease}}
                   /
                  {{this.inputHPC}}
                </td>
            </tr>
            
        
        </tbody></table>{{/each}}
    </div>
		</div>
	</div>
</div>

<!-- popup update information -->
<div class="popup" id="popup__information">
  <div class="popup__content">
    <div class="popup__left">
      <img src="/image/profile_user.png" alt="Tour photo" class="popup__img">
        <span class="btn btn--success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Upload avatar</span>
          <input id="fileupload" type="file" name="fileupload">
      </span>
      
  </div>
      <div class="popup__right">
        <a href="#section-courses" class="popup__close">&times;</a>
        <form action="#" onsubmit="validateFormInformation()">
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input class="form-control" type="text" placeholder="Name" aria-label="default input example" required="" id="Name">
            </div>
          <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" aria-describedby="emailHelp" required="">
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Date of birth</label>
            <input type="text" id="datepicker" required="" >
          </div>
          <div class="mb-3">
            <label for="PhoneNumber" class="form-label">Phone</label>
            <input type='tel' class="form-control" pattern='\d{3}\d{4}\d{3}' title='Phone Number (Format: 099 9999 999)' required="" id="PhoneNumber">
          </div>
          
          <div class="mb-3">
            <label for ="">Gender: &nbsp;&nbsp;</label>
            <input type="radio" value="male" name="gender" id="male" checked>
            <label for ="male">Male&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="radio" value="female" name="gender" id="female">
            <label for ="female">Female</label>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea class="form-control"  placeholder="Address"  aria-label="With textarea" required="" id="address"></textarea>
        </div> 

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
         </div>
      </div>
  </div>

<!--Update pathological-->

<div class="popup" id="popup__medical">
  <div class="popup__content">
    <div class="card card-outline-secondary">
      <a href="#section-courses" class="popup__close">&times;</a>
      <div class="card-header">
        <h3 class="mb-0">Update Medical record</h3>
      </div>
      <div class="card-body">
        <form autocomplete="off" name="Medicalform" class="form" role="form" action="#" onsubmit="validateFormMedical()">
          <div class="form-group">
            <label for="inputBackgroundisease">Background disease</label> 
            <textarea class="form-control" id="inputBackgroundisease" required=""></textarea> 
            <span class="form-text small text-muted">You need to provide information about the diseases you have such as Diabetes mellitus, lung diseases, Acute kidney injury, obesity, allergies etc.</span>
          </div>

          <div class="form-group">
            <label for="inputHPC">History of presenting complaint (HPC)/ History of present illness (HPI): </label> 
            <textarea class="form-control" id="inputHPC" required=""></textarea> 
            <span class="form-text small text-muted">You need to provide information about diseases you have had, Past medical and surgical Hx, Drug history, etc.</span>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-lg float-right"  type="submit">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<!-- popup reset password -->
<div class="popup" id="popup__password">
  <div class="popup__content">
    
        <!-- form card change password -->
        <div class="card card-outline-secondary">
          <a href="#section-courses" class="popup__close">&times;</a>
          <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
          </div>
          <div class="card-body">
            <form autocomplete="off" class="form" role="form" action="#" onsubmit="validateFormPassword()">
              <div class="form-group">
                <label for="inputPasswordOld">Current Password</label> 
                <input class="form-control" id="inputPasswordOld" required="" type="password">
              </div>
              <div class="form-group">
                <label for="inputPasswordNew">New Password</label> 
                <input class="form-control" id="inputPasswordNew" required="" type="password"> 
                <small class="form-text text-muted" id="passwordHelpBlock">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</small>
              </div>
              <div class="form-group">
                <label for="inputPasswordNewVerify">Verify</label> 
                <input class="form-control" id="inputPasswordNewVerify" required="" type="password"> 
                <span class="form-text small text-muted">To confirm, type the new password again.</span>
              </div>
              <div class="form-group">
                <button class="btn btn-success btn-lg float-right" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div><!-- /form card change password -->
     
  </div>
</div>

<div class="popup-logout" id="popup__logout">
  <div class="popup-logout__content">
      <div class="card-body">
       <div class="container padding">
        <div id="warning-icon"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#f8bb86" class="bi bi-exclamation-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
          </svg>
        </div>
        <div class="textwarning">
          <h4>Are you sure?</h4>
          
          <p>If you log out you will not be able to use our service!</p>
        </div>
        <div class="container">
          <a  onclick="setTimeout(showSuccess,2000)" href="#section-courses" class="btn btn--logout_Cancel">Cancel</a>
          <a href="/users/logout" class="btn btn--logout_OK">OK</a>

        </div>
      </div>

    </div>
  </div>
</div>
<div id="toast"></div>
     
    <script>
      $( "#datepicker" ).datepicker();
    </script>
    <script>
      function toast({ title = "", message = "", type = "", duration = "" }) {
        const main = document.getElementById("toast");
        if (main) {
          const toast = document.createElement("div");
          // toast.onclick = function (e) {
          //   console.log(e.target);
          //  };
          //auto remove
          const autoRemove = setTimeout(function () {
            main.removeChild(toast);
          }, duration + 1000);
          //click close
          toast.onclick = function (e) {
            if (e.target.closest(".toast__close")) {
              main.removeChild(toast);
              clearTimeout(autoRemove);
            }
          };
          const icons = {
            success: "fas fa-check-circle",
          };
          const icon = icons[type];
          const delay = (duration / 1000).toFixed(2);

          toast.classList.add("toast", `toast--${type}`);
          toast.style.animation = `slideInLeft ease .5s, fadeOut linear 5s forwards`;

          toast.innerHTML = `
             <div class="toast__icon">
                 <i class="${icon}"></i>
             </div>
             <div class="toast__body">
                 <h3 class="toast__title">${title}</h3>
                 <p class="toast__msg">${message}</p>
             </div>
             <div class="toast__close">
                 <i class="fas fa-times"></i>
             </div>
           `;
          main.appendChild(toast);
        }
      }
      function showSuccess() {
        toast({
          title: "Success",
          message: "Ready to pour… the Font Awesome 6 Beta!",
          type: "success",
          duration: 5000,
        });
      }

       
    </script>
    <script>
        function validateFormMedical() {
    var inputBackgroundisease = document.getElementById("inputBackgroundisease").value;
    var inputHPC = document.getElementById("inputHPC").value;
 
    if (inputBackgroundisease == null || inputBackgroundisease == "") {
        return false;
    } else if (inputHPC == null || inputHPC == "") {
        return false;
    }
    toast({
          title: "Success",
          message: "Your information has been successfully updated!",
          type: "success",
          duration: 5000,
        });
}
 function validateFormPassword() {
    var inputPasswordOld = document.getElementById("inputPasswordOld").value;
    var inputPasswordNew = document.getElementById("inputPasswordNew").value;
    var inputPasswordNewVerify= document.getElementById("inputPasswordNewVerify").value;
 
   if (inputPasswordOld == null || inputPasswordOld == "") {
        return false;
    }
    else if (inputPasswordNew == null || inputPasswordNew == "") {
        return false;
    }
    else if (inputPasswordNewVerify == null || inputPasswordNewVerify == "") {
        return false;
    }
    toast({
          title: "Success",
          message: "Your information has been successfully updated!",
          type: "success",
          duration: 5000,
        });
}
function validateFormInformation() {
    var Name = document.getElementById("Name").value;
    var exampleInputEmail = document.getElementById("exampleInputEmail").value;
    var PhoneNumber= document.getElementById("PhoneNumber").value;
    var address = document.getElementById("address").value;
    var date = document.getElementById("datepicker").value;
   var gender = document.querySelector('input[name = "gender"]:checked').value;
 
   if (Name == null || Name == "") {
        return false;
    }
    else if (exampleInputEmail == null || exampleInputEmail == "") {
        return false;
    }
    else if (PhoneNumber == null ||PhoneNumber == "") {
        return false;
    }
     else if (address == null ||address == "") {
        return false;
    }
    else if (date == null ||date == "") {
        return false;
    }
    else if ( gender== "" || gender== null) {
       return false;
    }
    toast({
          title: "Success",
          message: "Your information has been successfully updated!",
          type: "success",
          duration: 5000,
        });
}
 
       </script>